@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: Garamond, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
    background: #000;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
} */

.text-stroke {
    -webkit-text-stroke: 3px #fff;
}

.link-underline {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    transition: background-size 0.1s ease-in-out;
    background-repeat: no-repeat;
    background-position: 0 90%;
    border-bottom-width: 0;
    background-size: 0 1px;
}

.link-underline:hover {
    background-size: 100% 1px;
    background-position: 0 90%;
}
